/* .title_control{
    color:red;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.title2_control{
    color:blue;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
 */

.FormAvert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  .Cadre {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .FormAvertTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .DescriptionAvertInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .NiveauAlert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .NiveauAlert select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .FormAvertBtn {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .grise {
    background-color: gray;
    color: white;
    cursor: not-allowed;
  }